<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HIES.FO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HIES.FO.Properties.Settings>
            <setting name="DefaultMainPanel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InvoiceFooterNote" serializeAs="String">
                <value />
            </setting>
            <setting name="GRCTerms" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowSideBarWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="DefaultFontName" serializeAs="String">
                <value>Helvetica</value>
            </setting>
            <setting name="DefaultFontSize" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="HouseRules" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintHouseRulesInSeperatePage" serializeAs="String">
                <value>False</value>
            </setting>
        </HIES.FO.Properties.Settings>
    </userSettings>
</configuration>